# ==============================
# Root / Shared
# ==============================

# Environment variables
.env
.env.*.local

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# ==============================
# Python (api/)
# ==============================

# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
api/.venv/
api/venv/
api/env/
api/.env/


# ==============================
# Node / Frontend (client/)
# ==============================

# dependencies
client/node_modules/

# build output
client/build/
client/dist/

# Next.js
.client/.next/
client/.next/
client/out/

# local env files
client/.env
client/.env.local
client/.env.*.local

# logs
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# Editor directories and files
.client/coverage/
client/coverage/

# ==============================
# Docker
# ==============================

# Docker artifacts
**/docker-compose.override.yml
**/docker-compose.*.yml
**/Dockerfile.*

# Ignore built images (if you export or save them)
*.tar

# ==============================
# VS Code
# ==============================

# .vscode/
.code-workspace

# ==============================
# IDEs & Editors
# ==============================

# JetBrains
.idea/

# Sublime Text
*.sublime-project
*.sublime-workspace

# Eclipse
.project
.settings/

# ==============================
# Misc
# ==============================

# Mac OS
.AppleDouble
.LSOverride

# Thumbnails
._*
