/* Import Montserrat font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');  */
@import "tailwindcss";

@theme {
  --color-nord0: #2e3440;
  --color-nord1: #3b4252;
  --color-nord2: #434c5e;
  --color-nord3: #4c566a;
  --color-nord4: #d8dee9;
  --color-nord5: #e5e9f0;
  --color-nord6: #eceff4;
  --color-nord7: #8fbcbb;
  --color-nord8: #88c0d0;
  --color-nord9: #81a1c1;
  --color-nord10: #5e81ac;
  --color-nord11: #bf616a;
  --color-nord12: #d08770;
  --color-nord13: #ebcb8b;
  --color-nord14: #a3be8c;
  --color-nord15: #b48ead;

  --color-main0: #364559;
  --color-main1: #4d5d73;
  --color-main2: #7c8ea6;
  --color-main3: #adc5d9;
  --color-main4: #d0e2f2;
}

:root {
  --font-display: "Montserrat", sans-serif;
  --color-main0: #364559;
  --color-main1: #4d5d73;
  --color-main2: #7c8ea6;
  --color-main3: #adc5d9;
  --color-main4: #d0e2f2;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 14px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  html,
  body {
    font-size: 16px;
  }
}

body {
  font-family: var(--font-display);
  color: #fff;
  background-color: var(--color-main0);
  letter-spacing: normal;
  box-sizing: border-box;
  font-weight: 400;
}

#app {
  width: 100%;
  height: 100%;
}

input {
  width: 100%;
  border-radius: 0.5rem;
  background-color: var(--color-main0);
  border: 1px solid var(--color-main2);
  color: var(--color-main4);
  padding: 0.25rem 1rem;
  font-size: 0.875rem;
  transition: border-color 0.2s, background-color 0.2s, color 0.2s;
  outline: none;
  box-sizing: border-box;
  appearance: none;
}
input:focus {
  border-color: var(--color-main3);
}
input::placeholder {
  color: var(--color-main3);
  opacity: 1;
}

input:is(:-webkit-autofill, :autofill) {
  background-color: #364559 !important;
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-text-fill-color: #d0e2f2 !important;
}

input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: #364559 !important;
  color: fieldtext !important;
}
